body {
    background-image: url("../img/sea.png");
    background-repeat: no-repeat;
    background-size: 500%;
    text-align: center;
    color: black;
  }

img{

width: 300px;

}

.fish {

    width:700px;
    float: right;
    position: absolute;
}
