body {
    background-image: url("../img/sea.png");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    color: white;
  }



.bubble {
width: 10vw;

}

.fish {

    width:300px;
    float: right;
    position: absolute;
    left: 30vw;
}

.whale {
    width:1200px;
    left:500px;
    top:400PX;
}
