html {
    background: url("../img/water.png");
    background-repeat: no-repeat;
    text-align: center;
    color: black;
    font-size:50px;
  }

img{

width: 300px;
height: auto;
float: left;

}
