html {
    background: url("../img/water.png");
    background-repeat: no-repeat;
    text-align: center;
    color: black;
    font-size:50px;
    background-size:100%;
  }

img{

width: 100px;
height:auto;
    bottom:80vh;
    right:80vw;

}
