
body {
    background-image: url("../img/tide.png");
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size: 12px;
  }

img {
    width:100vw;
    height:100vh;
}


